@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  /* font-family: "DM Sans", sans-serif; */
}

.box_shadow {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.home-hero {
  background-image: linear-gradient(
      rgba(2, 43, 108, 0.4),
      rgba(2, 43, 108, 0.4)
    ),
    url("https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  /* url('https://img.freepik.com/free-photo/team-young-specialist-doctors-standing-corridor-hospital_1303-21199.jpg?t=st=1717709765~exp=1717713365~hmac=6461ff55e2ba9e8322678bb43e435d6f1dd89b7a0de94ee822c9b0a48fe103e8&w=1060'); */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.swiper-horizontal {
  overflow: visible;
}

.hero-clip-path {
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

/* HTML: Loader */
.loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: rgb(23 37 84);
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}

.image-shadow {
  position: relative;
}

.image-shadow::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  pointer-events: none;
}

.image-shadow2 {
  position: relative;
}

.image-shadow2::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, rgb(249 250 251), rgba(255, 255, 255, 0));
  pointer-events: none;
}

.faq-hero{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://img.freepik.com/free-photo/people-taking-part-business-event_23-2149333727.jpg?t=st=1718319067~exp=1718322667~hmac=a3241920d42c88d9136df0359ec1e3529918227170ede41944a9f8ab3069f1bc&w=1060');
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.blogs-hero{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://img.freepik.com/free-photo/people-taking-part-business-event_23-2149333727.jpg?t=st=1718319067~exp=1718322667~hmac=a3241920d42c88d9136df0359ec1e3529918227170ede41944a9f8ab3069f1bc&w=1060');
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.lab-order-hero{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://img.freepik.com/free-photo/lab-technician-ppe-suit-sitting-table-medical-research-laboratory-holding-test-tube-talking-video-call-with-senior-doctor-giving-online-advices-virtual-meeting_482257-531.jpg?t=st=1718403848~exp=1718407448~hmac=2e2d7736ac8fd8cab93044794f0ef402913be9030be22769a20f61fc2907ee66&w=1380');
  background-size: cover;
  background-position: center;
  height: 100vh;
}